* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Open Sans'; 
}
/*nav*/

nav{
    background-color: #c9c4de;
}




/*main*/
main{
    font-family: 'Open Sans'; 
}






/* footer*/
.section-suscribe{
    padding: 5em 0;
}
.form-control{
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 50px;
}
.form-control:focus{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.form-control:focus, .form-control:active{
    outline: none;
}
.btn{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.2) !important;
}
.btn.btn-secondary{
    color:#FFF;
    border-width: 2px;
    background-color: #504c62;
    border-color: #504c62;
    padding: 10px;
}

.site-footer{
    padding: 5em 0 ;
    background:#504c62;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans';
}
.site-footer p:last-child{
    margin-bottom: 0;
}
.site-footer a{
    color: #fbe78a;
    border-bottom: 1px solid transparent;
}
.site-footer a:hover{
    color:#fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0,2)
}
.site-footer h2{
    font-size:22px;
    margin-bottom: 28px;
    letter-spacing: .05em ;
    color: #fff;
}
.site-footer .footer-link li{
    line-height: 1.5;
    margin-bottom: 15px;
    text-decoration: none;

}
.site-footer .footer-link li a{
    text-decoration: none;
}

.footer-social a{
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid  rgba(255, 255, 255, 0,2);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    
}
.footer-social a:hover{
    background:#c9c4de;
    border-color:#fff;
    
}
.footer-social .fa{
    margin-top: 7px;
    
}

.card .circulo-circulo {
    color:#c9c4de;
    background-color: #c9c4de;
}